<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.RentSmarter">

  <queries>
        <package android:name="com.RentSmarter.store" />
        <package android:name="com.RentSmarter.services" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@drawable/rentsmarter_logo"
      android:roundIcon="@drawable/rentsmarter_logo_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyDkdzVdCEanQ4fZLHGNxzI7ofl992gEISs"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        
      </activity>
      
      <provider
          android:name="androidx.core.content.FileProvider"
          android:authorities="${applicationId}.provider"
          android:grantUriPermissions="true"
          android:exported="false">
          <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/filepaths" />
      </provider>
 
    </application>
</manifest>

 