<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404155515437-alu6v57f6usfc3mhllv22n7ed7u0jv68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404155515437-alu6v57f6usfc3mhllv22n7ed7u0jv68</string>
	<key>API_KEY</key>
	<string>AIzaSyDY3IxlkBYlHMXwNh8nP7EMhpJN_aKmEOk</string>
	<key>GCM_SENDER_ID</key>
	<string>404155515437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fanniemae.rentpath</string>
	<key>PROJECT_ID</key>
	<string>eit-project-rentsmarter</string>
	<key>STORAGE_BUCKET</key>
	<string>eit-project-rentsmarter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404155515437:ios:b4e03725d0fff21ab82ea4</string>
</dict>
</plist>